BOT_TOKEN=8352200865:AAHOl8DnhJA3tyfMADcHZzmhNwa9h5tArMc
TARGET_BOT_TOKEN=8388533429:AAHwdPemw4edDjmEHlf5Mhqh7I_2SvzkJO0
TARGET_BOT_USERNAME=smeshnoto4kabot
TARGET_BOT_CHAT_ID=-1001234567890
TARGET_IS_GROUP=true